{% extends "base.html" %}

{% block content %}

<header id="UHMarkerplaceHeader">
    <h1>Textbooks</h1>
    <p>A place to buy, sell, or trade textbooks</p>
</header>


<div>
    {% if user.is_authenticated %}
    <ul>
        <a href="{% url 'uhmarketplace:createtextbook' %}">Post Your Textbook Here</a>
        {% if textbook_list %}
        ----
        <a href="{% url 'uhmarketplace:decorderDate' %}">Newest Posts</a> ----
        <a href="{% url 'uhmarketplace:ascorderDate' %}">Oldest Posts</a> ----
        <a href="{% url 'uhmarketplace:myTextbook' %}">My Posts</a> ----
        <a href="{% url 'uhmarketplace:searchtextbook' %}">Search Textbook</a>
        <br>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Oldest to Newest Textbooks
                      </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">                   
                    <div class="accordion-body">
                    {% for uhmarketplace in textbook_list %}
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="..." alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ uhmarketplace.book_title }}</h5>
                                    <p class="card-text"><b>Posted by:</b> {{ uhmarketplace.created_by }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>Author:</b> {{ uhmarketplace.book_author }}</li>
                                    <li class="list-group-item"><p><b>Course</b>: {{ uhmarketplace.course }}</p></li>
                                    <li class="list-group-item"><b>Description:</b> {{ uhmarketplace.content}}</li>
                                    <li class="list-group-item"><b>Published:</b> {{ uhmarketplace.created_date }}</li>
                                </ul>
                                <!-- Down below only allows the person who created the post to edit or delete their post -->
                                {% if user ==  uhmarketplace.created_by %}
                                <a href="{% url 'uhmarketplace:updatetextbook' uhmarketplace.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                  </svg>Edit</a>
                                  <div display:inline-block>
                                <a href="{% url 'uhmarketplace:deletetextbook' uhmarketplace.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                  </svg></a>Delete</div>                        
                                {% endif %}
                            </div>   
                        </div>
                        <br>
                        <br>
                        <br>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </ul>
    {% else %}
    <p style="text-align:center">No Posts.</p>
    {% endif %}

    {% else %}
    <h5>You are not logged in, please <a href="{% url 'accounts:login'%}">Please Sign in</a> or <a
        href="{% url 'accounts:signup'%}">sign up</a> to view the Textbooks</h5>
    {% endif %}


</div>

{%endblock %}