{% extends "base.html" %}

{% block content %}

<header id="UHMarkerplaceHeader">
    <h1>Textbooks</h1>
    <p>A place to buy, sell, or trade textbooks</p>
</header>


<div>
    <ul>
        <a href="{% url 'uhmarketplace:createtextbook' %}">Post Your Textbook Here</a>
        {% if textbook_list %}
            ----
            <a href="{% url 'uhmarketplace:decorderDate' %}">Newest Posts</a> ----
            <a href="{% url 'uhmarketplace:ascorderDate' %}">Oldest Posts</a> ----
            <a href="{% url 'uhmarketplace:myTextbook' %}">My Posts</a> ----
            <a href="{% url 'uhmarketplace:searchtextbook' %}">Search Textbook</a> 
        <br>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Available Textbooks
                      </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">                   
                    <div class="accordion-body">
                    {% for uhmarketplace in textbook_list %}
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="..." alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ uhmarketplace.book_title }}</h5>
                                    <p class="card-text"><b>Posted by:</b> {{ uhmarketplace.created_by }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>Author:</b> {{ uhmarketplace.book_author }}</li>
                                    <li class="list-group-item"><p><b>Course</b>: {{ uhmarketplace.course }}</p></li>
                                    <li class="list-group-item"><b>Comments:</b> {{ uhmarketplace.content}}</li>
                                    <li class="list-group-item"><b>Published:</b> {{ uhmarketplace.published_date }}</li>
                                </ul>
                                <!-- Down below only allows the person who created the post to edit or delete their post -->
                                {% if user ==  uhmarketplace.created_by %}
                                <span><a href="{% url 'uhmarketplace:updatetextbook' uhmarketplace.id %}">edit</a></span>
                                <span><a href="{% url 'uhmarketplace:deletetextbook' uhmarketplace.id %}">delete</a></span>
                        {% endif %}
                            </div>   
                        </div>
                        <br>
                        <br>
                        <br>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </ul>
    {% else %}
    <p style="text-align:center">No Posts.</p>
    {% endif %}


</div>

{%endblock %}