{% extends 'base.html' %}

{% load static %}

{% block content %}
<header id="UHMarkerplaceHeader" style="text-align: center;">
  <h1>Foodie</h1>
  <p>A place to discuss about the awesome places to eat or horrible places to avoid</p>
</header>

<div>
  {% if user.is_authenticated %}
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-6 col-xs-4" id="media-size-left">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Create a Post</h5>
      <p class="card-text">Got food on your mind? So do we!</p>
      <a href="{% url 'post_new' %}" class="top-menu">Create a Foodie Post</a>

    </div>
  </div>
  </div>
    <div class="col-lg-8 col-md-12 col-xs-8" id="media-size-right">
  <ul>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            FOOD!!!!
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
          aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            {% for post in posts %}
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <article>
                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    <p class="card-text"><b>Posted by:</b> {{ post.author }}</p>
                </div>
                <ul class="list-group list-group-flush">

                  <time>published: {{ post.published_date }}</time>

                  <p>{{ post.text|linebreaksbr }}</p>
                  </article>
                </ul>
                <!-- Down below only allows the person who created the post to edit or delete their post -->
                {% if user == post.author %}
                <div display:inline-block>
                  <aside class="actions float-start">
                    <a href="{% url 'post_edit' pk=post.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path
                          d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                      </svg>Edit</a>
                  </aside>

                  <aside class="actions float-end">
                    <a href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                      </svg>Delete</a>
                </div>
                </aside>
                {% endif %}
              </div>

              <a class="btn btn-outline-primary btn-sm" href="{% url 'add_comment_to_post' pk=post.pk %}">Add
                comment</a>
              <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
              <h3>Comments:</h3>
              {% for comment in post.comments.all %}
              <div class="comment">
                <div class="date">{{ comment.created_date }}</div>
                <h5><strong>{{ comment.author }}</strong></h5>
                <p>{{ comment.text }}</p>
                <hr>
              </div>
              {% empty %}
              <p>No comments here yet :(</p>
              {% endfor %}


            </div>
            <br>
            <br>
            <br>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </ul>
</div>
</div>

  {% else %}
  <h5>You are not logged in, please <a href="{% url 'accounts:login'%}">Please Sign in</a> or <a
      href="{% url 'accounts:signup'%}">sign up</a> to view the Posts about Food</h5>
  {% endif %}


</div>

{% endblock %}